
    .links{
    text-align: right;
    font-family: arial;
}

    .name{
        text-align:center;
        color:darkcyan;
        font-size:110px;
    }
    .subname{
        color:darkred;
        font-size:30px;
    }

.searchbox {
    margin-right: auto;
    margin-left: auto;
    border-color: #adadad;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    margin: 5px;
    padding: 14px;
    width: 600px;
}
    .searchbox:hover {
        box-shadow: 2px 2px 2px #adadad;
    }
.searchbutton {
    background-color: #F8F9FA;
    border-style: none;
    border-width: 1px;
    border-radius: 2px;
    margin: 11px 4px;
    padding: 8px 16px;
}
.searchbutton:hover {
    box-shadow: 1px 1px 4px #bdbdbd;
}
td {
    color: black;
    font-size: 13px;
    font-family: Arial;

    }
.advbox {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 600px;
    margin:5px 5px;
}
h1 {
    color: darkcyan;
    margin: 5px 10px;
}
h3 {
    color: #d93025;
    font-size: 20px;
    font-family: Roboto,RobotoDraft,Arial,sans-serif;
    margin: 25px 35px;
    font-weight: normal;
    }
h4 {
    text-align: left;
    font-size: 15px;
    font-family: Arial;
    font-weight: normal;
    margin: 20px 22px;
}
.advbutton {
    margin-left: 508px;
    color: white;
    font-weight: bold;
    font-size:11px;
    background-color: dodgerblue;
    border-color: Highlight;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 6px 10px;
}
    .advbutton:hover {
        background-color:Highlight;
        border-color: cornflowerblue;
        border-style: solid;
    }